# Final Player Ranking

In [1]:
import pandas as pd

In [2]:
raw = pd.read_excel('Clean.xlsx')

In [4]:
rank = pd.read_excel('PlayerWeight.xlsx')

In [15]:
raw.Conference.unique()

array(['ConfUSA', 'SunBelt', 'SEC', 'Mid-American', 'BIG10', 'ACC',
       'MountainWest', 'AA', 'BIG 12', 'Independent', 'Pac12'],
      dtype=object)

In [58]:
raw.Conference = raw.Conference.str.replace('ConfUSA', 'CUSA').str.replace('SunBelt', 'SUNBELT').str.replace('Mid-American', 'MAC').str.replace('BIG10', 'Big Ten').str.replace('MountainWest', 'MWC').str.replace('AA', 'American').str.replace('Independent', 'Ind').str.replace('Pac12', 'Pac-12').str.replace('BIG 12', 'Big 12')

In [31]:
rank.rename(columns = {'Conf1': 'Conference'}, inplace=True)

In [60]:
x = pd.merge(raw, rank, on='Conference', how = 'outer')

In [63]:
x.loc[x['Ratio'].isna()]

Empty DataFrame
Columns: [Name, Position, Cl, Team, Conference, Gen Rank, Ratio]
Index: []

In [64]:
x['Rating'] = x['Gen Rank'] * x['Ratio']

In [71]:
sort = x.sort_values(['Rating'], ascending=False)

In [93]:
sort['Rating'] = round(sort['Rating'], 3)
sort['Gen Rank'] = round(sort['Gen Rank'])
sort.head()

,Name,Position,Cl,Team,Conference,Gen Rank,Ratio,Rating
129,Damone Clark,LB,Sr.,LSU,SEC,140.0,0.22,30.91
148,Jeremy Banks,LB,Jr.,Tennessee,SEC,134.0,0.22,29.37
117,Bumper Pool,LB,Sr.,Arkansas,SEC,125.0,0.22,27.50
123,Chance Campbell,LB,Sr.,Ole Miss,SEC,121.0,0.22,26.62
178,Will Anderson Jr.,LB,So.,Alabama,SEC,120.0,0.22,26.29

In [117]:
final = sort
final.set_index('Name', inplace=True)

In [131]:
final[final['Position'] == 'LB'][['Position', 'Team', 'Cl', 'Rating' ]].head(10)

                  Position          Team   Cl  Rating
Name
Damone Clark            LB           LSU  Sr.   30.91
Jeremy Banks            LB     Tennessee  Jr.   29.37
Bumper Pool             LB      Arkansas  Sr.   27.50
Chance Campbell         LB      Ole Miss  Sr.   26.62
Will Anderson Jr.       LB       Alabama  So.   26.29
Jack Campbell           LB          Iowa  Jr.   24.31
Chris Bergin            LB  Northwestern  Sr.   23.97
Leo Chenal              LB     Wisconsin  Jr.   20.74
Chandler Wooten         LB        Auburn  Sr.   20.68
Mark Robinson           LB      Ole Miss  Sr.   19.80

In [123]:
final.to_excel('21PlayerRanking.xlsx', sheet_name = '2021', index=False)

In [126]:
final.Position.unique()

array(['LB', 'DB', 'S', 'DL', 'DE', 'DT', 'CB'], dtype=object)