# 2021 CFB Conference Aggregate

In [1]:
import pandas as pd

In [5]:
sunbelt = pd.read_excel('ConferenceSummary.xlsx')

In [7]:
ACC = pd.read_excel('ConferenceSummary1.xlsx')

In [11]:
allc = pd.read_excel('ConferenceSummary2.xlsx')

In [29]:
sunbelt.head()

,BASE,School,Interleague,SEC,ACC,Big 12,CUSA,Independent,MidAmerican,Pac-12,AA,Other,Sun Belt
0,SUNBELT,Appalachian State,156,0,-1,0,-19,0,0,0,15,35,156
1,SUNBELT,Arkansas State,-114,0,0,0,0,0,0,-48,-11,20,-114
2,SUNBELT,Coastal Carolina,134,0,0,28,0,51,11,0,0,39,134
3,SUNBELT,Georgia Southern,-50,-34,0,0,-31,-17,0,0,0,6,-50
4,SUNBELT,Georgia State,64,-9,-41,0,12,-33,32,0,0,0,64

In [23]:
sunbelt['Sun Belt'] = sunbelt['Interleague']

In [42]:
clean1 = sunbelt.groupby(['BASE', 'School'])['Interleague','SEC','ACC','Big 12','CUSA','Independent','MidAmerican','Pac-12','AA','Other', 'Sun Belt'].sum()
#list(sunbelt.columns)

C:\Users\vmidh\AppData\Local\Temp/ipykernel_20292/19385009.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  clean1 = sunbelt.groupby(['BASE', 'School'])['Interleague','SEC','ACC','Big 12','CUSA','Independent','MidAmerican','Pac-12','AA','Other', 'Sun Belt'].sum()

In [45]:
#clean1.reset_index(inplace=True)
clean1.head()

,BASE,School,Interleague,SEC,ACC,Big 12,CUSA,Independent,MidAmerican,Pac-12,AA,Other,Sun Belt
0,SUNBELT,Appalachian State,156,0,-1,0,-19,0,0,0,15,35,156
1,SUNBELT,Arkansas State,-114,0,0,0,0,0,0,-48,-11,20,-114
2,SUNBELT,Coastal Carolina,134,0,0,28,0,51,11,0,0,39,134
3,SUNBELT,Georgia Southern,-50,-34,0,0,-31,-17,0,0,0,6,-50
4,SUNBELT,Georgia State,64,-9,-41,0,12,-33,32,0,0,0,64

In [39]:
ACC.head()
list(ACC.columns)

['School',
 'Conf',
 'weight',
 'Interleague',
 'ACC',
 'SEC',
 'Sun Belt',
 'AA',
 'Big 12',
 'CUSA',
 'Independent',
 'MidAmerican',
 'Pac-12',
 'Other',
 'MountainWest',
 'Big10',
 'BASE']

In [47]:
clean2 = ACC.groupby(['BASE','School'])[['Interleague',
 'SEC',
 'Sun Belt',
 'AA',
 'Big 12',
 'CUSA',
 'Independent',
 'MidAmerican',
 'Pac-12',
 'MountainWest',
 'Big10',
 'Other', 'ACC']].sum()

In [52]:
clean2.reset_index(inplace=True)

In [56]:
ACC.Conf.unique()

array(['ACC', 'American', 'Ind', 'Non-Major', 'SEC', 'Big 12', 'Big Ten',
       'CUSA', 'MAC', 'MWC', 'Sun Belt'], dtype=object)

In [61]:
list(allc.columns)

['School',
 'Conf',
 'weight',
 'BASE',
 'Interleague',
 'SEC',
 'ACC',
 'Big 12',
 'CUSA',
 'Independent',
 'MidAmerican',
 'Pac-12',
 'Sun Belt',
 'Big10',
 'MountainWest',
 'Other',
 'AA']

In [63]:
clean3 = allc.groupby(['BASE','School'])[['Interleague',
 'SEC',
 'ACC',
 'Big 12',
 'CUSA',
 'Independent',
 'MidAmerican',
 'Pac-12',
 'Sun Belt',
 'Big10',
 'MountainWest',
 'AA','Other',]].sum()

In [65]:
clean3.reset_index(inplace=True)

In [66]:
masterdata = pd.concat([clean3, clean2, clean1])

In [69]:
masterdata.to_excel('Masterdata.xlsx', sheet_name='sheet1', index=False)

In [162]:
#masterdata.fillna(0, inplace=True)
masterdata.head()

,BASE,School,Interleague,SEC,ACC,Big 12,CUSA,Independent,MidAmerican,Pac-12,Sun Belt,Big10,MountainWest,AA,Other
0,American,Cincinnati,215,-21,0,0,0,12,36,0,0,15.0,0.0,215,36
1,American,EastCarolina,58,-3,0,0,5,0,0,0,-14,0.0,0.0,58,4
2,American,Houston,128,5,0,-17,38,29,0,0,0,0.0,0.0,128,46
3,American,Memphis,-12,3,0,0,-3,0,0,0,6,0.0,0.0,-12,26
4,American,Navy,-7,0,0,0,-42,-22,0,0,0,0.0,-20.0,-7,0

##### useful notes for analysing data

In [160]:
#masterdata[(masterdata['SEC'] > 0) & (masterdata.BASE != "SEC")][['School', 'BASE', 'SEC']].sort_values(by = ['SEC'], ascending=False)
#ccol = masterdata.loc[:,['SEC', 'ACC', 'Big 12', 'CUSA', 'Independent', 'MidAmerican', 'Pac-12', 'Sun Belt', 'Big10', 'MountainWest', 'AA', 'Other']]
#masterdata[(masterdata.SEC > 0) & (masterdata.ACC > 0) & (masterdata['Big 12'] > 0) & (masterdata.CUSA > 0) & (masterdata.Independent > 0) & (masterdata.MidAmerican > 0) & (masterdata['Pac-12'] > 0) & (masterdata['Sun Belt'] > 0) & (masterdata.Big10 > 0) & (masterdata.MountainWest > 0) & (masterdata.AA > 0) & (masterdata.Other > 0)]
#masterdata[masterdata.BASE == 'SEC'] important to nest condition inside DF to get all columns
#when using groupby single [] creates series, double brackets [[]] creates a DF
#ranked.query(' & ')

#### end of notes

In [296]:
masterdata['Points'] = (masterdata['SEC'] * .22) + (masterdata['ACC'] * .11) + (masterdata['Big 12'] * .13) + (masterdata['CUSA'] * .02) + (masterdata['Independent'] * .03) + (masterdata['MidAmerican'] * .002) + (masterdata['Pac-12'] * .08) + (masterdata['Sun Belt'] * .06) + (masterdata['Big10'] * .17) + (masterdata['MountainWest'] * .11) + (masterdata['AA'] * .07)

In [297]:
w = masterdata.groupby(['BASE'])[['Points']].sum()
#masterdata[masterdata.BASE == 'Big Ten']
w.sort_values(by= ['Points'], ascending=False)

          Points
BASE
SEC       58.182
Big 12    29.740
Big Ten   28.870
Pac-12     6.794
ACC       -5.006
MWC       -6.256
American -27.404
SUNBELT  -34.188
Ind      -43.226
CUSA     -61.908
MAC      -88.904

In [298]:
s = masterdata.sort_values(['Points'], ascending=False).rename(columns = {'BASE': 'BASE CONF'})

In [299]:
ar = list(s.columns)
#ar.index('School')
ar[0], ar[1] = ar[1], ar[0]
ranked = s[ar]

In [291]:
ranked['BASE CONF'].unique()

array(['Ind', 'SEC', 'Big Ten', 'SUNBELT', 'ACC', 'American', 'MWC',
       'Big 12', 'Pac-12', 'CUSA', 'MAC'], dtype=object)

In [228]:
list(ranked.columns)

['School',
 'BASE CONF',
 'SEC',
 'ACC',
 'Big 12',
 'CUSA',
 'Independent',
 'MidAmerican',
 'Pac-12',
 'Sun Belt',
 'Big10',
 'MountainWest',
 'AA',
 'Other',
 'Points']

In [300]:
ranked.rename(columns={'Independent':'Ind', 'MidAmerican':'MAC', 'Sun Belt':'SUNBELT', 'Big10':'Big Ten', 'MountainWest':'MWC', 'AA':'American'}, inplace=True)

In [305]:
ranked['Points'] = round(ranked.Points)

In [309]:
final = ranked.drop(columns=['Interleague'])

In [323]:
ConferenceSummary = final.groupby(['BASE CONF'])[['Points']].sum().sort_values(by = ['Points'], ascending=False)

In [325]:
final.to_excel('FinalRanking.xlsx', sheet_name = 'My2021Ranking', index=False)

In [341]:
pm = {
    'Conference' : ['SEC', 'Big Ten', 'Big 12', 'ACC', 'MWC', 'Pac-12', 'American', 'SUNBELT', 'Ind', 'CUSA', 'MAC'],
    'Ratio' : [.22, .17, .13, .11, .11, .08, .07, .06, .03, .02, .002]}

In [347]:
pm = pd.DataFrame(pm)

In [348]:
pm.to_excel('PlayerWeight.xlsx', sheet_name = 'Sheet 1', index=False)